/* .elements {
    position: relative;
    height: 320px;
    width: 320px;
    display: flex;
    border-radius: 50%;
    -webkit-transform: translate(0, 5%);
    transform: translate(0, 5%);
    background-color: #e9fef0;
    align-items: center;
    justify-content: center;
    bottom: -20px;
    z-index: 1;
}

.facial-sheet-on-board-img {
    position: absolute;
    background-image: url("../img/facial_sheet.png");
    background-repeat: no-repeat;
    background-position-x: -3px;
    background-size: 104%;
    transform: translate(160px, -160px);
    width: 178px;
    height: 225px;
    z-index: 10;
    -webkit-box-shadow: 0px 50px 99px -15px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 50px 99px -15px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 50px 99px -15px rgba(0, 0, 0, 0.24);
} */

.elements {
    position: relative;
    display: flex;
    border-radius: 50%;
    background-color: #e9fef0;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.facial-sheet-on-board-img {
    position: absolute;
    background-image: url("../img/facial_sheet.png");
    background-repeat: no-repeat;
    background-position-x: -3px;
    background-size: 104%;
    z-index: 10;
    -webkit-box-shadow: 0px 50px 99px -15px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 50px 99px -15px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 50px 99px -15px rgba(0, 0, 0, 0.24);
}

@media screen and (min-width: 769px) {
    .elements {
        height: 320px;
        width: 320px;
        bottom: -50px;
    }

    .facial-sheet-on-board-img {
        top: 260px;
        width: 178px;
        height: 225px;
    }
}

@media screen and (max-width: 768px) {
    .elements {
        height: 180px;
        width: 180px;
        bottom: -20px;
    }

    .facial-sheet-on-board-img {
        bottom: 10px;
        width: 90px;
        height: 120px;
    }
}

@media screen and (min-width: 800px) {
    .section-facts-2 .chemistry-facts .details-chemistry-facts .section-2-title img {
        right: -9vw !important;
    }

    .tag2 {
        margin: 0vw 0 2vw;
    }

}

@media screen and (min-width: 1366px) {
    .semen2 {
        margin: 1.5vw 0 2.8vw;

    }

    .tag2:nth-of-type(2n+2) {
        margin-top: 1.6vw;
    }

    .section5_box3 .no {
        margin: 0 !important;
    }

    .section5_box3 .facesemen2 {
        margin: 3.5vw 0 1vw !important;
    }

}
@media all and (max-width:425px)
{
    
 .section1_box3 .facesemen2 {
    margin: 2.6vw 0 3.4vw -0.4vw!important;
}
      .funel3 p {
      
letter-spacing: -1px!important;
    }

}
@media all and (max-width:375px)
{
    .section1_box3 p {
    font-size: 2.4vw!important;
}
    .funel1 p, .funel2 p, .funel3 p {
    font-size: 1.8vw!important;
}
    .section1_box3 .facesemen2 {
    margin: 3vw 0 3.4vw -0.4vw!important;
}
      .funel2 p
    {
        padding-top: 3.2vw!important;
    }
       .funel1 p
    {
        padding-top: 3.2vw!important;
    }
    
    
}
