body {
    margin: 0;
    font-family: 'Open Sans';
    overflow-x: hidden;
}

.row-element {
    width: 100%;
    margin-bottom: 18vw;
}

.row-element p {
    width: 70%;
    width: 35vw;
    font-size: 1.493vw;
    font-weight: 300;
    line-height: 1.24;
}

.total-black-bckg {
    background: #000000;
    color: #FFFFFF;
    padding: 0px 4px;
}

.img-block {
    text-align: center;
    position: relative;
    bottom: -4.8vw;
}

.img-block p {
    color: #282828;
    font-family: 'Open Sans';
    word-spacing: 7px;
    font-weight: 700;
    text-align: center;
    font-size: 1.9vw;
    margin-bottom: 0.7vw;
}

.img-block img {
    text-align: center;
    border-radius: 100%;
    width: 9.9vw;
    box-shadow: 0px 14px 95px -4px #8a6a96;
}

.text-block {
    font-family: 'Open Sans';
    color: black;
    font-weight: 200;
    font-size: 20px;
}

.a {
    width: 50px;
    height: 50px;
    background-color: red;
    position: fixed;
}

.position-fl {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 10%;
    margin-left: 15%;
}

.green-line {
    border-bottom: 5px solid #8da3e1;
    width: 15% !important;
    margin-top: 1vw;
    margin-left: 3vw;
}

.blue-line {
    border-bottom: 5px solid #98CAFE;
    width: 18.5%;
    margin-top: 1px !important;
    margin-left: 17%;
}

.blue-line2 {
    border-bottom: 5px solid #98CAFE;
    width: 20.5%;
    margin-top: 1.81vw !important;
    margin-left: 20%;
}

.blue-line3 {
    border-bottom: 5px solid #98CAFE;
    width: 20.5%;
    margin-top: 1.81vw !important;
    margin-left: 0.5%;
}

@media all and (max-width:768px) {

    .chemistry-facts {

        margin-top: -3vw !important;
    }

    .table-section {
        position: relative;
    }

    .section1-table {
        width: 87vw;
        margin-left: 6vw;
    }

    .table-animation {
        margin-top: -77vw;
        margin-left: 45vw;
        z-index: 999;
    }

    .table-animation td {
        width: 23vw;
        height: 6.82vw;
    }

    .img-1 {
        animation-delay: 1s !important;
        opacity: 0;
    }

    .ph1 {
        width: 6vw !important;
        height: 2.6vw !important;
        position: relative;
        top: 1.2vw;
    }

    .img-2 {
        animation-delay: 2s !important;
        opacity: 0;
    }

    .ph2 {
        width: 4.3vw !important;
        height: 2.5vw !important;
        position: relative;
        top: 1.2vw;
    }

    .img-3 {
        animation-delay: 3s !important;
        opacity: 0;
        position: relative;
        top: 1.3vw;
    }

    .img-4 {
        animation-delay: 4s !important;
        opacity: 0;
        position: relative;
        top: 1.3vw;
    }

    .img-5 {
        animation-delay: 5s !important;
        opacity: 0;
        position: relative;
        top: 1.5vw;
    }

    .img-6 {
        animation-delay: 6s !important;
        opacity: 0;
        position: relative;
        top: 1.5vw;
    }

    .img-7 {
        animation-delay: 7s !important;
        opacity: 0;
        position: relative;
        top: 1.5vw;
    }

    .img-8 {
        animation-delay: 8s !important;
        opacity: 0;
        position: relative;
        top: 1.5vw;
    }

    .img-9 {
        animation-delay: 9s !important;
        opacity: 0;
        position: relative;
        top: 1.4vw;
    }

    .img-10 {
        animation-delay: 10s !important;
        opacity: 0;
        position: relative;
        top: 1.4vw;
    }

    .img-11 {
        animation-delay: 11s !important;
        opacity: 0;
        position: relative;
        top: 1.4vw;
    }

    .img-12 {
        animation-delay: 12s !important;
        opacity: 0;
        position: relative;
        top: 1.4vw;
    }

    .img-13 {
        animation-delay: 13s !important;
        opacity: 0;
        position: relative;
        top: 1.5vw;
    }

    .img-14 {
        animation-delay: 14s !important;
        opacity: 0;
        position: relative;

        top: 1.5vw;
    }

    .img-15 {
        animation-delay: 15s !important;
        opacity: 0;
        position: relative;
        left: -3.3vw;
        top: 1.3vw;
        width: 12vw !important;
        height: 4vw !important;

    }

    .img-16 {
        animation-delay: 16s !important;
        opacity: 0;
        position: relative;
        left: -3.3vw;
        top: 1.3vw;
        width: 12vw !important;
        height: 4vw !important;

    }

    .table-text {
        font-family: "Open Sans";
        font-size: 2.4vw;
        color: black;
        margin-left: 16vw;
        margin-top: 5vw;
        margin-bottom: 0;
    }

    .chemistry-facts .text-box {
        color: black;
        font-weight: bold;
        margin: 1vw 0 0;
    }

    .chemistry-facts .text-box {
        font-family: 'Open Sans bold';
        font-size: 2.7vw;
        font-weight: 700;
        color: black;
        text-align: center;

        width: 100%;
    }

    .chemistry-facts .cloud-image img {
        width: 60vw;
    }

    .cloud-image {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        background-image: url(../../img/facts/section_img_2.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 37.4vw;
        height: 24vw;
        position: absolute;
        left: 6vw;
        margin-top: -11vw;
        z-index: 3;
    }

    .chemistytanleSec {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: -8vw 0 0;
    }

    .table-animation img {
        width: 5vw;
        height: 5vw;
    }
    .table-section tr  p
    {
         font-family: 'Open Sans bold';
        font-size: 2.7vw;
        font-weight: 700;
        color: black;
           text-align: left;
    
    }
    .semTable
    {
        margin: 0.8vw 0 -0.6vw -1.6vw;
    }
     .facTable
    {
       
    margin: 0.8vw 0 -0.6vw -4.6vw;
    }
}

@media all and (max-width:425px) {
    .chemistry-facts {
        margin-top: 3vw !important;
    }

    .table-text {

        margin-top: 2vw;
    }

    .ph1 {

        top: 0.2vw;
    }


    .ph2 {

        top: 0.2vw;
    }

    .img-3 {

        top: 1.2vw;
    }

    .img-4 {

        top: 1.2vw;
    }

    .img-5 {

        top: 1vw;
    }

    .img-6 {

        top: 1vw;
    }

    .img-7 {

        top: 0.9vw;
    }

    .img-8 {

        top: 0.9vw;
    }

    .img-9 {

        top: 0.5vw;
    }

    .img-10 {

        top: 0.5vw;
    }

    .img-11 {

        top: 0.4vw;
    }

    .img-12 {

        top: 0.4vw;
    }

    .img-13 {

        top: -0vw;
    }

    .img-14 {


        top: -0vw;
    }

    .img-15 {
        top: -0.2vw;
    }

    .img-16 {

        top: -0.2vw;
    }
    .table-animation {
    margin-top: -78vw;
}
    .facTable {
    margin: 0.8vw 0 -0.6vw -5.6vw;
}

}

@media all and (max-width:414px) {
    .table-text {
        margin-top: 0vw;
    }
    .img-3 {
    top: 0.6vw;
}
    .img-4 {
    top: 0.6vw;
}

    .img-5 {
        top: 0.2vw;
    }

    .img-6 {
        top: 0.2vw;
    }

    .img-7 {

        top: -0.2vw;
    }

    .img-8 {

        top: -0.2vw;
    }

    .img-9 {

        top: -0.5vw;
    }

    .img-10 {

        top: -0.5vw;
    }

    .img-11 {

        top: -1.2vw;
    }

    .img-12 {

        top: -1.2vw;
    }

    .img-13 {

        top: -1.4vw;
    }

    .img-14 {


        top: -1.4vw;
    }

    .img-15 {
        top: -2.1vw;
    }

    .img-16 {

        top: -2.1vw;
    }

}

@media all and (max-width:375px) {
    .facTable {
    margin: 0.8vw 0 -0.6vw -5.4vw;
}

    .chemistry-facts {
        margin-top: 4vw !important;
    }

    .ph1 {

        top: 0;
    }


    .ph2 {

        top: 0;
    }

    .img-3 {

        top: 0.6vw;
    }

    .img-4 {

        top: 0.6vw;
    }

    .img-5 {

        top: 0.2vw;
    }

    .img-6 {

        top: 0.2vw;
    }

    .img-7 {

        top: -0.2vw;
    }

    .img-8 {

        top: -0.2vw;
    }

    .img-9 {

        top: -0.5vw;
    }

    .img-10 {

        top: -0.5vw;
    }

    .img-11 {

        top: -1.2vw;
    }

    .img-12 {

        top: -1.2vw;
    }

    .img-13 {

        top: -1.4vw;
    }

    .img-14 {


        top: -1.4vw;
    }

    .img-15 {
        top: -2.4vw;
    }

    .img-16 {

        top: -2.4vw;
    }

}

@media all and (max-width:320px) {
    .chemistry-facts {
        margin-top: 7vw !important;
    }

    .table-text {
        margin-top: -3vw;
    }

 .semTable {
    margin: 0.8vw 0 -0.6vw -2.1vw;
}
    .facTable {
    margin: 0.8vw 0 -0.6vw -5.8vw;
}

.ph1 {
    top: -0.8vw;
}
    .ph2 {
    top: -0.8vw;
}
    .img-3 {

        top: -0.5vw;
    }

    .img-4 {

        top: -0.5vw;
    }

    .img-5 {

        top: -1.3vw;
    }

    .img-6 {

        top: -1.3vw;
    }

    .img-7 {

        top: -2vw;
    }

    .img-8 {

        top: -2vw;
    }

    .img-9 {

        top: -2.8vw;
    }

    .img-10 {

        top: -2.8vw;
    }

    .img-11 {

        top: -3.8vw;
    }

    .img-12 {

        top: -3.8vw;
    }

    .img-13 {

        top: -4.4vw;
    }

    .img-14 {


        top: -4.4vw;
    }

    .img-15 {
        top: -6vw;
    }

    .img-16 {

        top: -6vw;
    }

}
