@font-face {
    font-family: "Open Sans bold";
    src: url("fonts/OpenSans-Bold.ttf");
}

@font-face {
    font-family: "Open Sans semi-bold";
    src: url("fonts/OpenSans-Semibold.ttf");
}

@font-face {
    font-family: "Open Sans";
    src: url("fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "Open Sans light";
    src: url("fonts/OpenSans-Light.ttf");
}

@-webkit-keyframes fade {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@media screen and (min-width: 769px) {
    .section1 {
        width: 100vw;
        height: auto;
        background-color: #eefff0;
        margin-top: -3vw;
        padding-bottom: 18vw;
    }

    .section1_top1 {
        text-align: center;
        font-family: "Open Sans semi-bold";
        font-size: 2.2vw;
        z-index: 5;
    }

    .head_wraper {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: -10vw;
    }

    .section1_head {
        width: 13.5vw;
        height: 13.5vw;
        position: relative;
        z-index: 5;
        margin-top: -2vw;
    }

    .section1_wraper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 9.7vw 0 9vw;
    }

    .section1_box1 {
        width: 33.3%;
    }

    .section1_header1 {
        font-family: "Open Sans bold";
        font-size: 1.7vw;
    }

    .section1_text1 {
        font-family: "Open Sans";
        font-size: 1.5vw;
        width: 30vw;
        line-height: 1.3;
    }

    .section1_header2 {
        font-family: "Open Sans bold";
        font-size: 1.7vw;
    }

    .section1_text2 {
        font-family: "Open Sans";
        font-size: 1.5vw;
        width: 30vw;
        line-height: 1.3;
    }

    .section1_box2 {
        position: relative;

    }

    .illustration1 {
        width: 16vw;
        margin: 4vw 0 0 5.5vw;

    }

    .water,
    .salt {
        position: relative;
        width: 11.5vw;
    }

    .salt {
        left: -2vw;
        top: 1vw;
    }

    .water {
        top: -2vw;
        left: 12vw;
    }


    .minerals {
        font-family: "Open Sans semi-bold";
        font-size: 1.5vw;
        position: absolute;
        top: 5.5vw;
        left: 13.3vw;
    }

    .Na {
        font-family: "Open Sans semi-bold";
        font-size: 1.5vw;
        position: absolute;
        top: 6.3vw;
        left: 9.1vw;
    }

    .K {
        font-family: "Open Sans semi-bold";
        font-size: 1.5vw;
        position: absolute;
        top: 10.5vw;
        left: 7.5vw;
    }

    .Mg {
        font-family: "Open Sans semi-bold";
        font-size: 1.5vw;
        position: absolute;
        top: 10.5vw;
        left: 11.5vw;
    }

    .Ca {
        font-family: "Open Sans semi-bold";
        font-size: 1.5vw;
        position: absolute;
        top: 11.6vw;
        left: 16.1vw;
    }

    .Zn {
        font-family: "Open Sans semi-bold";
        font-size: 1.5vw;
        position: absolute;
        top: 15vw;
        left: 12.7vw;
    }

    .section1_box3 {
        width: 11.7vw;
        background-image: url(../../img/facts/tagK.png);
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0.55vw 0 8.3vw;
        margin-top: 5.5vw;
    }

    .tag1 {
        width: 11.7vw;
        margin-top: 5.5vw;
        margin-left: 12vw;
    }

    .semen1 {
        font-family: "Open Sans semi-bold";
        font-size: 1.4vw;
        position: absolute;
        top: 6vw;
        left: 15.4vw;
    }

    .facesemen1 {
        font-family: "Open Sans semi-bold";
        font-size: 1.4vw;
        position: absolute;
        top: 17.5vw;
        left: 14vw;
    }

    .section2 {
        width: 100vw;
        height: auto;
        background-color: #dceff0;
        margin-top: -3vw;
        padding-bottom: 18vw;
    }

    .section2_wraper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 9.7vw 0 9vw;
        margin-top: -3vw;
    }

    .section1_top2 {
        /*        width: 100vw;*/
        text-align: center;
        font-family: "Open Sans semi-bold";
        font-size: 2.2vw;
        /*        position: relative;*/
        z-index: 5;
        /*        margin-top: 7vw;*/
    }

    .head_wraper2 {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 5;
        top: -11vw;
    }

    .section2_box1 {
        width: 33.3%;
    }

    .section2_head {
        width: 13.5vw;
        height: 13.5vw;
        margin-top: -2vw;

    }

    .section2_header1 {
        font-family: "Open Sans bold";
        font-size: 1.7vw;
        margin-top: -5vw;
    }

    .section2_text1 {
        font-family: "Open Sans";
        font-size: 1.5vw;
        margin-top: 1vw;
        width: 30vw;
        line-height: 1.3;
    }

    .section2_header2 {
        font-family: "Open Sans bold";
        font-size: 1.7vw;
        margin-top: 0vw;
    }

    .section2_text2 {
        font-family: "Open Sans";
        font-size: 1.5vw;
        margin-top: 1vw;
        width: 30vw;
        line-height: 1.3;
    }

    .section2_box2 {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .illustration2 {
        width: 12.3vw;
        margin-top: -0.3vw;
    }

    .circleTextBox {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .pCircleBox {
        width: 8.5vw;
        height: 8.5vw;
        background-color: rgba(153, 217, 234, 1);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 1vw 0 0;
    }

    .citric_acid,
    .sodium_citrate,
    .potassium_citrate {
        font-family: "Open Sans semi-bold";
        font-size: 1.4vw;
        text-align: center;

        line-height: 1.2;
    }



    .section2_box3 {
        width: 11.7vw;
        background-image: url(../../img/facts/tagK.png);
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0.55vw 0 5.5vw;
        margin-top: -2vw;
    }


    .semen2 {
        font-family: "Open Sans semi-bold";
        font-size: 1.4vw;
        padding: 0 0.3vw 0.2vw 0;
    }

    .facesemen2 {
        font-family: "Open Sans semi-bold";
        font-size: 1.4vw;
        padding: 0 0.3vw 0vw 0;
    }

    .tag2 {
        width: 3.25vw;
    }

    .chemistry-image .bowl1 {
        width: 22.9vw;
        height: 24vw;
        background: url(../../img/img_flask/test-tubes.png);
        background-size: 80% 100%;
        background-repeat: no-repeat;
        position: relative;
        top: -0.5vw;
        left: 2.2vw;
    }

    .chemistry-image .bowl1 .inner1 {
        border-radius: 50%;
        width: 15vw;
        height: 14.7vw;
        position: relative;
        top: -6.5vw;
        left: 1.2vw;
        z-index: 3;
        overflow: hidden;
        backface-visibility: hidden;
        transform: translate3d(0, 0, 0);
        animation-name: shadow;
        animation-iteration-count: 1;
        animation-timing-function: cubic-bezier(0.2, 0.6, 0.8, 0.4);
        animation-duration: 4s;
        animation-fill-mode: forwards;
    }

    .chemistry-image .bowl1 .inner1Right {
        border-radius: 50% 50%;
        width: 16vw;
        height: 14.5vw;
        position: relative;
        top: -21vw;
        left: 1.3vw;

    }

    .chemistry-image .bowl1 .inner12 {
        border-radius: 50%;

        width: 15.8vw;
        height: 14.7vw;
        position: relative;
        top: 7.9vw;
        left: 1.4vw;
        z-index: 1;
        overflow: hidden;
        backface-visibility: hidden;
        transform: translate3d(0, 0, 0);
        animation-name: shadow;
        animation-iteration-count: 1;
        animation-timing-function: cubic-bezier(0.2, 0.6, 0.8, 0.4);
        animation-duration: 4s;
        animation-fill-mode: forwards;
    }

    .chemistry-image .shadowFlask1 {
        background: url(../../img/img_flask/test-tubes_shadow.png);
        background-size: 80% 100%;
        background-repeat: no-repeat;
        position: absolute;
        width: 18vw;
        height: 22vw;
        top: 1vw;
        left: 2.2vw;
        opacity: 1;
    }

    .chemistry-image .bowl1 .fill1 {
        animation-name: fillActionOne;
        animation-iteration-count: 1;
        animation-timing-function: cubic-bezier(0.2, 0.6, 0.8, 0.4);
        animation-duration: 4s;
        animation-fill-mode: forwards;
    }

    .chemistry-image .bowl1 .waveShape1 {
        animation-name: waveActionOne;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-duration: 2s;
        width: 29vw;
        height: 10vw;
        fill: #ffffff;
    }

    @keyframes fillActionOne {
        0% {
            transform: translate(0, 180px);
        }

        100% {
            transform: translate(0, 50px);
        }
    }

    @keyframes waveActionOne {
        0% {
            transform: translate(-150px, 0);
        }

        100% {
            transform: translate(0, 0);
        }
    }

    .bgFlask {
        position: relative;
        top: -2.6vw;
        left: 3vw;
        z-index: 0;
    }

    .section3 {
        background-color: #eefff0;
        width: 100vw;
        height: auto;
        margin-top: -3vw;
        padding-bottom: 16vw;
    }

    .section3_top {

        font-family: "Open Sans semi-bold";
        font-size: 2.2vw;
        position: relative;
        z-index: 5;
        top: -9.5vw;
        letter-spacing: -0.1vw;
    }

    .head_wraper3 {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        top: -2vw;
    }

    .section3_head {
        width: 13.5vw;
        height: 13.5vw;
        position: relative;
        z-index: 5;
        top: -11.5vw;
    }

    .section3_wraper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 9.7vw 0 9vw;
    }

    .section3_header1 {
        font-family: "Open Sans bold";
        font-size: 1.7vw;
        margin-top: -9vw;
    }

    .section3_text1 {
        font-family: "Open Sans";
        font-size: 1.5vw;
        margin-top: 1vw;
        width: 30vw;
        line-height: 1.3;
    }

    .section3_header2 {
        font-family: "Open Sans bold";
        font-size: 1.7vw;
        margin-top: 2vw;
    }

    .section3_text2 {
        font-family: "Open Sans";
        font-size: 1.5vw;
        margin-top: 1vw;
        width: 30vw;
        line-height: 1.3;
    }

    .illustration3 {
        width: 24.5vw;
    }

    .section3_box2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        width: 24.5vw;
        margin-left: 5vw;

    }

    .section3BoxCircle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .section3BoxCircle img {
        width: 12vw;
    }

    .section3BoxCircle:first-of-type {
        margin: 0 2vw 0 0;
    }

    .glucose {
        font-family: "Open Sans semi-bold";
        font-size: 1.4vw;
        margin: 0 0 0.3em;
        font-weight: bold;
        letter-spacing: -1px;
    }

    .fructose {
        font-family: "Open Sans semi-bold";
        font-size: 1.4vw;
        margin: 0 0 0.3em;
        font-weight: bold;
        letter-spacing: -1px;
    }

    .section3_box3 {
        width: 11.7vw;
        background-image: url(../../img/facts/tagK.png);
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0.55vw 0 10.2vw;
        margin-top: -4.5vw;
    }


    .semen3 {
        font-family: "Open Sans semi-bold";
        font-size: 1.4vw;
    }

    .facesemen3 {
        font-family: "Open Sans semi-bold";
        font-size: 1.4vw;
    }

    .section4 {
        background-color: #dceff0;
        width: 100vw;
        height: auto;
        margin-top: -3vw;
        padding-bottom: 20vw;
    }

    .section4_top {

        font-family: "Open Sans semi-bold";
        font-size: 2.2vw;
        position: relative;
        z-index: 5;
        top: -9.5vw;
        letter-spacing: -0.1vw;
    }

    .head_wraper4 {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        top: -2vw;
    }

    .section4_head {
        width: 13.5vw;
        height: 13.5vw;
        position: relative;
        z-index: 5;
        top: -11.3vw;
    }

    .section4_wraper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 9.7vw 0 9vw;
    }

    .section4_box1 {
        width: 33.3%;
    }

    .section4_text2 {
        font-family: "Open Sans";
        font-size: 1.5vw;
        margin-top: 1vw;
        width: 29vw;
        line-height: 1.3;
    }

    .illustration4 {
        width: 12vw;
        margin-top: -6.6vw;
        margin-left: 14vw;
    }

    .section4_box2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 1vw 0 0 2.2vw;
    }

    .sec4PBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: -3vw 12vw 4vw 0;
    }

    .sec4Top {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }

    .sec4Top div {
        width: 8.3vw;
        height: 8.3vw;
        background-color: rgba(153, 217, 234, 1);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .collagen {
        font-family: "Open Sans semi-bold";
        font-size: 1.43vw;
    }

    .elastine {
        font-family: "Open Sans semi-bold";
        font-size: 1.43vw;
    }

    .whey_protein {
        font-family: "Open Sans semi-bold";
        font-size: 1.43vw;
        line-height: 1.2;
        text-align: center;
    }

    .others {
        font-family: "Open Sans semi-bold";
        font-size: 1.43vw;
    }

    .section4_box3 {
        width: 11.7vw;
        background-image: url(../../img/facts/tagK.png);
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0.55vw 0 7.7vw;
        margin-top: -5.5vw;
    }


    .semen4 {
        font-family: "Open Sans semi-bold";
        font-size: 1.4vw;
    }

    .facesemen4 {
        font-family: "Open Sans semi-bold";
        font-size: 1.4vw;
    }

    .section5 {
        background-color: #eefff0;
        width: 100vw;
        height: auto;
        margin-top: -3vw;
        padding-bottom: 8vw;
    }

    .section5_top {

        text-align: center;
        font-family: "Open Sans semi-bold";
        font-size: 2.2vw;
        position: relative;
        z-index: 5;
        top: -12vw;
        line-height: 1.3;
        letter-spacing: -0.1vw;
    }

    .section5_head {
        width: 13.5vw;
        height: 13.5vw;
        position: relative;
        z-index: 5;
        top: -14.1vw;
    }

    .section5_wraper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 9.7vw 0 9vw;
        margin-top: -12vw;
        align-items: center;
    }

    .section5_box1 {
        width: 33.3%;
    }

    .star {
        margin-top: -2vw;
        margin-right: -1vw;
        position: relative;
        top: 1.3vw;
        left: -0.2vw;
    }

    .section5_header1 {
        font-family: "Open Sans bold";
        font-size: 1.7vw;
        /*         */
    }

    .section5_header2 {
        font-family: "Open Sans bold";
        font-size: 1.7vw;
        margin-top: 2vw;
        position: relative;
        top: -0.6vw;
    }

    .section5_text2 {
        font-family: "Open Sans";
        font-size: 1.5vw;
        margin-top: -0.5vw;
        width: 30vw;
        line-height: 1.3;
    }

    .illustration5 {
        width: 12vw;

        margin: 0.2em 0;
    }

    .section5_box2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .sec5PBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 1vw 0 0;
    }

    .brightum_technology {
        font-family: "Open Sans semi-bold";
        font-size: 1.3vw;
        text-align: center;
        font-weight: bold;
        letter-spacing: -1px;
        margin: 0;
    }


    .tm1 {
        font-family: "Open Sans semi-bold";
        font-size: 0.8vw;
    }

    .dermsome_technology {
        font-family: "Open Sans semi-bold";
        font-size: 1.3vw;
        text-align: center;
        font-weight: bold;
        letter-spacing: -1px;
        margin: 0;
    }

    .all-in-one {
        font-family: "Open Sans";
        font-size: 1.2vw;
        text-align: center;
        line-height: 1.2;
        margin: 0;
    }


    .super-skin {
        font-family: "Open Sans";
        font-size: 1.2vw;
        text-align: center;
        width: 10vw;
        line-height: 1.2;
        margin: 0;
    }

    .section5_box3 {
        width: 11.7vw;
        height: 25vw;
        background-image: url(../../img/facts/tagK.png);
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.55vw 0 0;
    }

    .section5_box3 .no {
        margin: 1.7vw 0;
    }

    .section5_box3 .facesemen2 {
        margin: 1.5vw 0 2.7vw;
    }

    .section6_wraper {
        display: flex;
        flex-direction: row;
    }

    .section6_box1,
    .section6_box2 {
        width: 50vw;
    }

    .section6 {
        width: 100vw;
        height: auto;
        background-color: #ffdee1;
        padding-bottom: 11vw;
    }

    .the_future {
        font-family: "Open Sans bold";
        font-size: 2.4vw;
        margin-top: 9.7vw;
        margin-left: 9vw;
    }

    .continious {
        font-family: "Open Sans bold";
        font-size: 2.13vw;
        margin-top: -2.7vw;
        margin-left: 9vw;
    }

    .section6_text1 {
        font-family: "Open Sans";
        font-size: 1.5vw;
        margin-left: 9vw;
        margin-top: 2vw;
        width: 32vw;

    }

    .section6_text2 {
        font-family: "Open Sans";
        font-size: 1.5vw;
        margin-left: 9vw;
        margin-top: 1vw;
        width: 32vw;

    }

    .section6_text3 {
        font-family: "Open Sans";
        font-size: 1.5vw;
        margin-left: 9vw;
        margin-top: 1vw;
        width: 32vw;
        line-height: 1.25;
    }

    .future_table {
        width: 39vw;
        height: auto;
        margin-left: 3vw;
        margin-top: 16vw;
        position: relative;
        z-index: 1;
    }

    .table_circle1 {
        position: absolute;
        z-index: 10;
        width: 10vw;
        left: 4.8vw;
        top: 17.8vw;
    }

    .future_ion {
        font-family: "Open Sans";
        font-size: 1.2vw;
        position: absolute;
        z-index: 5;
        top: 25.8vw;
        left: 9vw;
    }

    .table_circle2 {
        position: absolute;
        z-index: 10;
        top: 17.8vw;
        left: 14.2vw;
        width: 10vw;
    }

    .future_citrate {
        font-family: "Open Sans";
        font-size: 1.2vw;
        position: absolute;
        z-index: 5;
        top: 25.8vw;
        left: 17.5vw;
    }

    .table_circle3 {
        position: absolute;
        z-index: 10;
        top: 17.8vw;
        left: 23.7vw;
        width: 10vw;
    }

    .future_bioactive {
        font-family: "Open Sans";
        font-size: 1.2vw;
        position: absolute;
        z-index: 5;
        top: 25.8vw;
        left: 25.9vw;
    }

    .table_circle4 {
        position: absolute;
        z-index: 10;
        top: 28.4vw;
        left: 4.8vw;
        width: 10vw;
    }

    .future_saccharide {
        font-family: "Open Sans";
        font-size: 1.2vw;
        position: absolute;
        z-index: 5;
        top: 36.4vw;
        left: 7vw;
    }

    .table_circle5 {
        position: absolute;
        z-index: 10;
        top: 28.4vw;
        width: 10.4vw;
        left: 14vw;
    }

    .future_protein {
        font-family: "Open Sans";
        font-size: 1.2vw;
        position: absolute;
        z-index: 5;
        top: 36.4vw;
        left: 17.4vw;
    }

    .more {
        font-family: "Open Sans";
        font-size: 1.2vw;
        position: absolute;
        z-index: 5;
        top: 40vw;
        left: 33.1vw;
    }

    .section6_box2 {
        position: relative;
    }

    .funnelAll {
        position: absolute;
        background-image: url(../../img/facts/bubble.png);
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
        z-index: 5;
        left: 23vw;
        top: 5vw;
        width: 11vw;
        height: 15vw;
    }

    .funnel1 {

        z-index: 5;
        left: 23vw;
        top: 5vw;
        width: 11vw;
        height: 15vw;
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        animation: 5s ease 0s fade;

    }

    .funnel1 p {
        text-align: center;
        font-weight: bold;
        font-size: 1.2vw;
        padding-top: 1.5vw;
        margin-bottom: 0.3vw;
        font-family: "Open Sans semi-bold";
        letter-spacing: -1px;
    }

    .funnel1 img {
        width: 2vw;
    }

    .funnel2 {
        position: absolute;
        z-index: 5;
        left: 0vw;
        top: 0vw;
        width: 11vw;
        height: 15vw;
        display: none;

        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        animation: 5s ease 0s fade;
    }

    .funnel2 p {
        text-align: center;
        font-weight: bold;
        font-size: 1.2vw;
        padding-top: 1.5vw;
        margin-bottom: 0.3vw;
        font-family: "Open Sans semi-bold";
        letter-spacing: -1px;
    }

    .funnel2 img {
        width: 2vw;
    }

    .funnel3 {
        position: absolute;
        z-index: 5;
        left: 0vw;
        top: 0vw;
        width: 11vw;
        height: 15vw;
        display: none;
        justify-content: center;
        align-items: flex-start;
        animation: 5s ease 0s fade;

    }

    .funnel3 p {
        text-align: center;
        font-weight: bold;
        font-size: 1.2vw;
        padding-top: 2.8vw;
        font-family: "Open Sans semi-bold";
        letter-spacing: -1px;

    }

}

@media screen and (max-width: 768px) {
    .mobile_facts {
        overflow-x: hidden;
    }

    .section-facts-1 .text-box {
        color: black;
        font-weight: bold;
    }

    .section1 {
        width: 100vw;
        height: auto;
        background-color: #edffef;
        margin-top: -5vw;
        padding-bottom: 31vw;
    }

    .section1_head {
        font-family: "Open Sans bold";
        font-size: 5vw;
        position: relative;
        /*        text-align: center;*/
        top: -18vw;
    }

    .sec1ImgBox {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 4vw 0 9vw;
        margin: -23vw 0 37vw;
    }

    .sec1ImgBox .section1_box2 {
        display: flex;
    }

    .salt,
    .water {
        width: 27vw;
        height: 27vw;
        position: absolute;
    }

    .water {
        margin: 37vw 0 0 15vw;
    }

    .salt {
        margin: 16vw 0 0 34vw;
    }

    .sec1ImgBox .pBox p {
        position: absolute;
        font-size: 3.5vw;
        font-weight: bold;
    }

    .sec1ImgBox .pBox .minerals {
        left: 28.5vw;
        margin-top: 6.6vw;
    }

    .sec1ImgBox .pBox .Na {
        left: 18vw;
        margin-top: 9vw;
    }

    .sec1ImgBox .pBox .K {
        left: 13.8vw;
        margin-top: 19vw;
    }

    .sec1ImgBox .pBox .Mg {
        left: 23.7vw;
        margin-top: 18.5vw;
    }

    .sec1ImgBox .pBox .Ca {
        left: 35vw;
        margin-top: 21.6vw;
    }

    .sec1ImgBox .pBox .Zn {
        left: 26.8vw;
        margin-top: 29.6vw;
    }

    .sec1ImgBox .illustration1 {
        width: 39vw;
        height: 40vw;
    }

    .section1_box3 {
        width: 20vw;
        height: 43vw;
        background-image: url(../../img/facts/tagK.png);
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 3vw 0 -4vw;

    }

    .section1_box3 .tag2 {
        width: 5.5vw;
    }

    .section1_box3 p {
        font-size: 2.3vw;
        font-weight: bold;
        font-family: "Open Sans semi-bold";
    }

    .section1_box3 .semen2 {
        margin: 3.7vw 0 5vw;
    }

    .section1_box3 .facesemen2 {
        margin: 5.7vw 0 5vw -0.4vw;
    }

    .head_icon1 {
        width: 29vw;
        position: relative;
        top: -23vw;
    }

    .headSec2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        top: -4vw;
    }

    .head_wraper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .img_wraper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 5vw 0 9vw;

        margin-top: -21vw;
    }

    .section6 .img_wraper {


        margin-top: 0vw;
    }


    .section1_box1 {
        width: 70vw;
    }



    .section1_illustration {
        width: 60vw;
        margin-left: 7vw;
        margin-top: -22vw;
    }

    .tag1 {
        width: 19vw;
        margin-top: -23vw;
        margin-left: 7vw;
    }

    .section1_header1 {
        font-family: "Open Sans bold";
        font-size: 4.5vw;
        margin-top: 13vw;
        margin-left: 9vw;
    }

    .section1_text1 {
        font-family: "Open Sans";
        font-size: 4vw;
        margin-top: 1vw;
        margin-left: 9vw;
        width: 79vw;
    }

    .section1_header2 {
        font-family: "Open Sans bold";
        font-size: 4.5vw;
        margin-top: 3vw;
        margin-left: 9vw;
    }

    .section1_text2 {
        font-family: "Open Sans";
        font-size: 4vw;
        margin-top: 1vw;
        margin-left: 9vw;
        width: 79vw;
        margin-bottom: 7vw;
    }

    .section2 {
        width: 100vw;
        height: auto;
        margin-top: -5vw;
        background-color: #dceff0;
        padding-bottom: 31vw;
    }

    .section2_head {
        font-family: "Open Sans bold";
        font-size: 5vw;
        position: relative;
        text-align: center;
        top: -19vw;
    }

    .head_icon2 {
        width: 29vw;
        position: relative;
        top: -24vw;
    }

    .section2_box2 {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .circleTextBox {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .illustration2 {
        width: 27vw;
    }

    .pCircleBox {
        width: 17.5vw;
        height: 17.5vw;
        background-color: rgba(153, 217, 234, 1);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 1vw 0 0;
    }

    .citric_acid,
    .sodium_citrate,
    .potassium_citrate {
        font-family: "Open Sans semi-bold";
        font-size: 2.8vw;
        text-align: center;
        line-height: 1.2;
    }

    .section2_illustration {
        width: 60vw;
        margin-top: -19vw;
        margin-left: 7vw;
    }


    .section2_header1 {
        font-family: "Open Sans bold";
        font-size: 4.5vw;
        margin-top: 13vw;
        margin-left: 9vw;
    }

    .section2_text1 {
        font-family: "Open Sans";
        font-size: 4vw;
        margin-top: 1vw;
        margin-left: 9vw;
        width: 79vw;
    }

    .section2_header2 {
        font-family: "Open Sans bold";
        font-size: 4.5vw;
        margin-top: 3vw;
        margin-left: 9vw;
    }

    .section2_text2 {
        font-family: "Open Sans";
        font-size: 4vw;
        margin-top: 1vw;
        margin-left: 9vw;
        width: 79vw;
        margin-bottom: 7vw;
    }

    @media all and (max-width:375px) {
        .chemistry-image img {

            top: 42vw !important;
        }
    }

    @media all and (max-width:360px) {
        .chemistry-image img {

            top: 41vw !important;
        }
    }

    @media all and (max-width:320px) {
        .chemistry-image img {

            top: 45vw !important;
        }
    }

    .section3 {
        width: 100vw;
        height: auto;
        margin-top: -5vw;
        background-color: #edffef;
        padding-bottom: 31vw;

    }

    .sec3Mob {
        margin-top: -25vw;
    }

    .sec3Mob .section3BoxCircle p {
        font-size: 2.8vw;
        font-weight: bold;
        font-family: "Open Sans bold";
        margin: 0;
    }

    .section3_head {
        font-family: "Open Sans bold";
        font-size: 5vw;
        position: relative;
        text-align: center;
        top: -19vw;

    }

    .head_icon3 {
        width: 29vw;
        position: relative;
        top: -25vw;
    }

    .section3_box2 {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .section3_box2 img {
        width: 27vw;
    }

    .section3_illustration {
        width: 59vw;
        margin-top: -16vw;
        margin-left: 7vw;
    }


    .section4 {
        width: 100vw;
        height: auto;
        background-color: #dceff0;
        margin-top: -5vw;
        padding-bottom: 31vw;
    }

    .section4_illustration {
        width: 68vw;
        margin-top: -25vw;
        margin-left: 8vw;
    }

    .section4_box2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 1vw 0 0 2.2vw;
    }

    .illustration4 {
        width: 26vw;
        margin-top: -4.6vw;
        margin-left: 33vw;
    }

    .sec4Top div {
        width: 18.3vw;
        height: 18.3vw;
        background-color: rgba(153, 217, 234);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sec4PBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: -3vw 22vw 4vw 0;
    }

    .sec4Top p {
        font-family: "Open Sans semi-bold";
        font-size: 2.8vw;
        font-weight: bold;
        text-align: center;
    }

    .sec4Top {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .section4 .img_wraper {

        margin-top: -15vw;
    }

    .section5 {
        width: 100vw;
        height: auto;
        background-color: #edffef;
        margin-top: -5vw;
        padding-bottom: 13vw;
    }

    .section5_illustration {
        width: 58vw;
        margin-left: 6vw;
        margin-top: -18vw;
    }

    .section5_box2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .section5_box2 .sec5PBox p {
        font-size: 2.8vw;

        font-family: "Open Sans";
        line-height: 1.2;
        margin: 0;

    }

    .section5_box2 .sec5PBox .brightum_technology,
    .section5_box2 .sec5PBox .dermsome_technology {

        font-family: "Open Sans bold";

    }

    .section5_box2 .sec5PBox img {
        width: 27vw;
        margin: 0.2em 0 0;
    }

    .section5 .section1_box3 {

        margin: 6vw 0 -4vw;
    }

    .sec5PBox:first-of-type {
        margin: 0 2vw 0 0;
    }

    .star {
        width: 7vw;
        margin-left: -1vw;
        margin-right: -1vw;
        position: relative;
        margin-top: -2vw;
        top: 1.5vw;
    }

    .section6 {
        width: 100vw;
        height: auto;
        background-color: #ffdee1;
        margin-top: -6vw;
        position: relative;
        padding-bottom: 15vw;
    }

    .future_header {
        font-family: "Open Sans bold";
        font-size: 5.4vw;
        margin-left: 9vw;
        padding-top: 13vw;
        margin-bottom: -5vw;
    }

    .future_subheader {
        font-family: "Open Sans bold";
        font-size: 5.4vw;
        margin-left: 9vw;
        padding-top: 0vw;
        color: #353535;
    }

    .future_table {
        width: 89vw;
        margin-left: 7vw;
        margin-top: 28vw;
        position: relative;
        z-index: 1;
    }

    .future_ion {
        position: absolute;
        z-index: 10;
        top: 65vw;
        left: 11vw;
        width: 25vw;
    }

    .future_citrate {
        position: absolute;
        z-index: 10;
        top: 65vw;
        left: 32vw;
        width: 25vw;
    }

    .future_bioactive {
        position: absolute;
        z-index: 10;
        top: 65vw;
        left: 53vw;
        width: 25vw;
    }

    .future_saccharide {
        position: absolute;
        z-index: 10;
        top: 89vw;
        left: 11vw;
        width: 25vw;
    }

    .future_protein {
        position: absolute;
        z-index: 10;
        top: 89vw;
        left: 32vw;
        width: 25vw;
    }

    .funelAll {
        position: absolute;
        background-image: url(../../img/facts/bubble.png);
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 5;
        top: 41vw;
        left: 55vw;
        width: 21vw;
        height: 30vw;
        display: block;


    }

    .funel1 {

        z-index: 5;
        top: 41vw;
        left: 55vw;
        width: 21vw;
        height: 30vw;
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        animation: 5s ease 0s fade;

    }

    .funel1 p {
        text-align: center;
        font-weight: bold;
        font-size: 2.2vw;
        padding-top: 2vw;
        font-family: "Open Sans semi-bold";
        letter-spacing: -1px;
    }

    .funel1 img {
        width: 4vw;
    }

    .funel2 {
        position: absolute;
        z-index: 5;
        top: 0vw;
        left: 0vw;
        width: 21vw;
        height: 30vw;
        display: none;

        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        animation: 5s ease 0s fade;
    }

    .funel2 p {
        text-align: center;
        font-weight: bold;
        font-size: 2.2vw;
        padding-top: 2vw;
        font-family: "Open Sans semi-bold";
        letter-spacing: -1px;
    }

    .funel2 img {
        width: 4vw;
    }

    .funel3 {
        position: absolute;
        z-index: 5;
        top: 0vw;
        left: 0vw;
        width: 21vw;
        height: 30vw;
        display: none;

        justify-content: center;
        align-items: flex-start;
        animation: 5s ease 0s fade;

    }

    .funel3 p {
        text-align: center;
        font-weight: bold;
        font-size: 2.2vw;
        padding-top: 5.5vw;
        font-family: "Open Sans semi-bold";
        letter-spacing: 0px;
    }

    .future_text1 {
        font-family: "Open Sans";
        font-size: 4vw;
        margin-top: 12vw;
        margin-left: 9vw;
        width: 79vw;
    }

    .future_star {
        width: 5vw;
        float: left;
    }

    .future_text2 {
        font-family: "Open Sans";
        font-size: 4vw;
        margin-top: 0vw;
        width: 75vw;
        float: right;
    }

    .section1_box3 .semen2 {
        margin: 3.4vw 0.5vw 4vw 0;
    }

    .section1_box3 .facesemen2 {
        margin: 2.95vw 0 3.4vw -1.1vw;
    }

    .section1_box3 p {
        letter-spacing: -1px;
        font-size: 2.6vw;
    }
}

@media all and (max-width:1280px) {
    .section4_box3 {

        padding: 0.75vw 0 7.7vw;
    }

    .tag2 {

        margin: 1.5vw 0 2vw;
    }

    .section5_box3 .facesemen2 {
        margin: 1.5vw 0 1.7vw;
    }
}

@media all and (max-width:375px) {
    .section1_box3 p {

        font-size: 3vw;
    }

    .section1_box3 .facesemen2 {
           margin: 2.55vw 1vw 3.4vw 0;
    }
    .section1_box3 .semen2 {
    margin: 3vw 0.5vw 4vw 0;
}

    .funel1 p,
    .funel2 p,
    .funel3 p {
        font-size: 2.6vw;
    }

    .funel1 p,
    .funel2 p {

        padding-top: 1.2vw;
        margin: 2vw 0 1.5vw;
    }

    .funel3 p {

        padding-top: 4vw;
    }

}
